body {
    display: flex;
    background-color: seagreen;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.kumar-one-regular {
    font-family: "Kumar One", serif;
    font-weight: 400;
    font-style: normal;
  }

h1 {
    text-align: center;
    color: white;
    margin-top: 20px;
    /*google font*/
}

h5 {
    /*some oether google font*/
    color: white;
    margin-bottom: 20px;
}

h1, h5 {
    font-family: "Kumar One";
}

.playing-field {
    display: flex;
    justify-content: center;
    gap: 3rem;

}

#player1-div {
    text-align: center;
    padding: 10px;
    /*not like this but make it 2 columns*/
}

#player2-div {
    text-align: center;
    padding: 10px;
}

.players > img {
    height: 100px;
}

.btn {
    width: 100px;
}

h3 {
    text-align: center;
    color: white;
    margin-top: 50px;
}

.invisible {
    display: none;
}